<form style="padding:20px; width: 80%; margin: 0 auto; border: solid 1px black" action="/save" method="POST">
    <label>
        ID:    <input name="ID" type="text" readonly="readonly" />
    </label><br /><br/>
    <label>
        NewsTitle:    <input name="newTitle" type="text" readonly="readonly" />
    </label><br /><br/>
    <label>
        Content:      <input name="content" type="text" />
    </label><br /><br/>
    <label>
        Publish Date: <input name="publishDate" type="Date" />
    </label><br /><br/>
    <label>
        Image link:   <input name="image" type="text" />
    </label><br /><br/>
    <label>
        Author:  <br />
            Author Title <input name="authorTitle" type="text" />
            Author Name <input name="authorName" type="text" />
            Author Address <input name="authorAddress" type="text" />
    </label><br /><br/>
    <input type="submit" value="Save" />
</form>s