<form action="/save" method="POST">
    <label>
        Year:<input name="year" type="text" readonly="readonly" />
    </label><br />
    <label>
        Title:<input name="name" type="text" readonly="readonly" />
    </label><br />
    <p>Year & Title: Primary Key( Hashkey Sortkey)
    </p>
    <label>
        Type:<input name="type" type="text" />
    </label><br />
    <label>
        Author:<input name="author" type="text" />
    </label><br />
    <input type="submit" value="Save" />
</form>